extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row m-1")
      each item,index in items
        - let destination = `dispatch(\"/gun/update?id=${item._id}\")`
        div(class="col-sm-2 m-1")
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          p Barrel_Metal is #{item.Barrel_metal}
          p Gun_Model is #{item.Gun_Model}
          p Gun Serial Number is #{item.Gun_Serial_Number}
  script.
    dispatch= (path) =>{
      window.location.href=path
    }
    

